.buttonChoice {
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 16px;
    font-size: 2rem;
    background-color: white;
    width: 60vh !important;
}

.btn {
    width: 40vw;
}

.btn:hover {
    background-color: rgb(173, 173, 173) !important;
    color: black !important;
}