<div class="bgimg">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2 mt-2">
        <div class="d-none d-md-block">
          <img src="../../assets/logo.png" alt="NHL Logo" width="70%" height="100%">
        </div>
      </div>
      <div class="col-md-2">
        <h4 class="d-flex justify-content-center whitebg" id="diff">
          {{difficulty}}
        </h4>
      </div>
      <div class="col-md-1">

      </div>
      <div class="col-md-2 pt-2">
        <app-period></app-period>
      </div>
      <div class="col-md-1">

      </div>
      <div class="col-md-1">
        <app-level></app-level>
      </div>
      <div class="col-md-3">

      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <app-question [text]='myService.question.value'></app-question>
      <button type="button" class="btn btn-primary" id="modal" data-toggle="modal" data-target="#exampleModalCenter"
        hidden>

      </button>
      <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalCenterTitle">Penalty!</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body" id="modalText">
              ...
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" id="closeMod" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container homepagedown">
    <div class="row">
      <div class="mt-3 col-md-6 d-flex justify-content-center">
        <app-answer-btn [text]='myService.question1.value'></app-answer-btn>
      </div>
      <div class="mt-3 col-md-6 d-flex justify-content-center">
        <app-answer-btn [text]='myService.question2.value'></app-answer-btn>
      </div>
    </div>
    <div class="row">
      <div class="mt-3 col-md-6 d-flex justify-content-center">
        <app-answer-btn [text]='myService.question3.value'></app-answer-btn>
      </div>
      <div class="mt-3 col-md-6 d-flex justify-content-center">
        <app-answer-btn [text]='myService.question4.value'></app-answer-btn>
      </div>
    </div>
  </div>
  <div class="container-fluid moveBottomStuff">
    <div class="row">
      <div class="col-md-3 d-flex justify-content-center">
        <!-- <button type="button" class="buttonGame d-flex justify-content-center" id="home">Home</button> -->
      </div>
      <div class="col-md-2 d-flex justify-content-center" *ngIf='computer'>
        <h4 class="d-flex justify-content-center whitebg p-2">
          Computer: &nbsp; <span id="scoreC">0</span>
        </h4>
      </div>
      <div class="col-md-2 d-flex justify-content-center">
        <app-timer></app-timer>
      </div>
      <div class="col-md-2 d-flex justify-content-center">
        <app-player-score></app-player-score>
      </div>

      <div class="col-md-3 d-flex justify-content-center">
        <button type="button" class="buttonGame d-flex justify-content-center" [routerLink]="['']"
          id="home">Home</button>
      </div>
    </div>


  </div>
</div>