<div class="bgimg">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2 mt-2">
        <div class="d-none d-md-block">
          <div class="my-img"></div>
        </div>
      </div>
      <div class="col-md-2">
        <h4 class="d-flex justify-content-center whitebg" id="diff">
          {{d}}
        </h4>
      </div>
      <div class="col-md-1">

      </div>
      <div class="col-md-2 pt-2">
        <app-period></app-period>
      </div>
      <div class="col-md-1">

      </div>
      <div class="col-md-1">
        <app-level></app-level>
      </div>
      <div class="col-md-3">

      </div>
    </div>
  </div>
  <div class="container-fluid mt-2 mb-2">
    <div class="row">
      <div class="col-3">

      </div>

      <div *ngIf='penalty' class="col-6 whitebg d-flex justify-content-center pt-2">
        <h3>
          Penalty!!
        </h3>
      </div>
    </div>
    <div class="col-3">

    </div>
  </div>
  <div class="container">
    <div class="row">
      <app-question [text]='q'></app-question>
    </div>
  </div>
  <div class="container homepagedown">
    <div class="row">
      <div class="mt-3 col-md-6 d-flex justify-content-center">
        <app-answer-btn (click)='answerClicked($event)' [text]='q1'></app-answer-btn>
      </div>
      <div class="mt-3 col-md-6 d-flex justify-content-center">
        <app-answer-btn (click)='answerClicked($event)' [text]='q2'></app-answer-btn>
      </div>
    </div>
    <div class="row">
      <div class="mt-3 col-md-6 d-flex justify-content-center">
        <app-answer-btn (click)='answerClicked($event)' [text]='q3'></app-answer-btn>
      </div>
      <div class="mt-3 col-md-6 d-flex justify-content-center">
        <app-answer-btn (click)='answerClicked($event)' [text]='q4'></app-answer-btn>
      </div>
    </div>
  </div>
  <div class="container-fluid moveBottomStuff">
    <div class="row">
      <div class="col-md-3 d-flex justify-content-center">
        <!-- <button type="button" class="buttonGame d-flex justify-content-center" id="home">Home</button> -->
      </div>
      <div class="col-md-2 d-flex justify-content-center">
        <app-computer-score *ngIf='computer'></app-computer-score>
      </div>
      <div class="col-md-2 d-flex justify-content-center">
        <app-timer></app-timer>
      </div>
      <div class="col-md-2 d-flex justify-content-center">
        <app-player-score></app-player-score>
      </div>

      <div class="col-md-3 d-flex justify-content-center">
        <button type="button" class="buttonGame d-flex justify-content-center" (click)='resetGame()' [routerLink]="['']"
          id="home">Home</button>
      </div>
    </div>


  </div>
</div>