button {
  background-color: white;
  border: none;
  color: black;
  padding: 0.5rem 8rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  border-radius: 16px;
  font-size: 2rem;
  &:hover {
    background-color: rgb(173, 173, 173);
    color: black;
    cursor: pointer;
  }
}
.full {
    width: 35vw;
}