.bgimg3 {
    background-image: url(../../../../../assets/gameover.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.my-img {
    background-image: url(../../../../../assets/logo.png);
    background-position: center;
    background-size: cover;
    width: 20em;
    height: 20em;
}

.button {
    background-color: white;
    border: none;
    color: black;
    padding: .5rem 8rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
    font-size: 2rem;
    width: 60vh;
}

.buttonChoice {
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 16px;
    font-size: 2rem;
    background-color: white;
    width: 100vh !important;
}

.buttonGame {
    background-color: white;
    border: none;
    color: black;
    padding: .3rem 3rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
    font-size: 2rem;
}

.button-special {
    background-color: white;
    border: none;
    color: black;
    padding: .5rem 2.5rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 0px;
    cursor: pointer;
    border-radius: 16px;
    font-size: 2rem;
    width: 40vw;
}

.text-align-center {
    text-align: center;
}

#questionArea {
    background-color: white;
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    margin: 4px 6px;
    border-radius: 16px;
    font-size: 2rem;
    height: 10rem;
    width: 100rem;
}

.moveBottomStuff {
    margin-top: 5rem;
}

.dropdown-item {
    width: 40vw;
}

.btn {
    width: 40vw;
}

.btn:hover {
    background-color: rgb(173, 173, 173) !important;
    color: black !important;
}

.button:hover {
    background-color: rgb(173, 173, 173);
    color: black;
}

.homepagedown {
    margin-top: 5vh;
}

.movetobottom {
    margin-top: 25vh;
}

.selectpagedown {
    margin-top: 8rem;
}

.whitebg {
    background-color: white;
}

.white {
    color: white;
}