.bgimg {
    background-image: url(../../../../../assets/gameplay.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.button {
    background-color: white;
    border: none;
    color: black;
    padding: .5rem 8rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
    font-size: 2rem;
    width: 60vh;
}

.button:hover {
    background-color: rgb(173, 173, 173);
    color: black;
}

.whitebg {
    background-color: white;
}