<div class="bgimg">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 d-flex justify-content-center mt-2">
        <div class="my-img"></div>
      </div>
    </div>
    <div class="container mt-4">
      <div class="row">
        <div *ngIf='!computer' class="col-12 whitebg">
          <h3 class="d-flex justify-content-center">
            Instructions - Single Player
          </h3>
          <p class="d-flex justify-content-center">
            It's time to test your knowledge of your NHL skills! Take part in this NHL game style trivia. There
            are three periods in which you will be asked 10 questions each. You will have 15 seconds to answer. Each
            correct answer equals one point. If you answer three correct in a row, you will be awarded a "Hat
            Trick Bonus" and recieve an additional point.
            Be sure to answer your questions before time runs out. There will be a penalty kill of two questions
            at a reduced time if you don't. Penalties can and do stack. You have a small chance to score a shorthanded
            goal when the penalty is assessed, which will be calculated automatically.
            Good Luck!
          </p>
        </div>

        <div *ngIf='computer' class="col-12 whitebg">
          <h3 class="d-flex justify-content-center">
            Instructions - Computer VS Player
          </h3>
          <p class="d-flex justify-content-center">
            It's time to test your knowledge of your NHL skills! Take part in this NHL game style trivia. There
            are three periods in which you will be asked 10 questions each. You will have 15 seconds to answer.
            Each
            correct answer equals one point. If you answer three correct in a row, you will be awarded a "Hat
            Trick Bonus" and recieve an additional point.
            The computer keeps scores just like you and can get hat tricks.
            Be sure to answer your questions before time runs out. There will be a penalty kill of two questions
            at a reduced time if you don't. Penalties can and do stack. You have a small chance to score a
            shorthanded
            goal when the penalty is assessed, which will be calculated automatically.
            Good Luck!
          </p>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-12 d-flex justify-content-center">
          <button type="button" class="button d-flex justify-content-center" (click)='startGame()'
            [routerLink]="['/game-play']" id="Go">Go</button>
        </div>
      </div>
    </div>
  </div>
</div>