<div class="bgimg">
  <div class="container-fluid" id="changeMe">
    <div class="row">
      <div class="col-md-12 d-flex justify-content-center mt-2">
        <div class="my-img"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h2 class="white d-flex justify-content-center">
          Please select a game mode
        </h2>
      </div>

    </div>
    <div class="row homepagedown">
      <div class="col-sm-6 d-flex justify-content-center">
        <div class="dropdown">
          <a class="button btn btn-secondary dropdown-toggle d-flex justify-content-center" href="#" role="button"
            id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Single Player
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item d-flex justify-content-center" id="single" (click)='setDifficulty($event)'
              [routerLink]="['/instructions']">Normal</a>
            <!-- <a class="dropdown-item d-flex justify-content-center" id="single" (click)='setDifficulty($event)'
              [routerLink]="['/instructions']">Hard</a> -->
          </div>
        </div>
      </div>
      <div class="col-sm-6 d-flex justify-content-center">
        <div class="dropdown">
          <a class="button btn btn-secondary dropdown-toggle d-flex justify-content-center" href="#" role="button"
            id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            VS Computer
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item d-flex justify-content-center" id="computer" (click)='setDifficulty($event)'
              [routerLink]="['/instructions']">Easy</a>
            <a class="dropdown-item d-flex justify-content-center" id="computer" (click)='setDifficulty($event)'
              [routerLink]="['/instructions']">Medium</a>
            <a class="dropdown-item d-flex justify-content-center" id="computer" (click)='setDifficulty($event)'
              [routerLink]="['/instructions']">Hard</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row movetobottom">
      <div class="col-sm-12 d-flex justify-content-center">
        <button type="button" class="button d-flex justify-content-center" id="home" [routerLink]="['/']">Home</button>
        <!-- <button type="button" class="button d-flex justify-content-center"></button> -->
      </div>
    </div>
  </div>
</div>